#header {
    border-bottom: 1px solid var(--borders);
    transition: all 0.4s;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3%;
}

.header__list-items {
    display: none;
}

.header__burger-button {
    background-color: var(--buttons-primary);
    color: var(--primary-text-color);
    padding: 1.25rem 1.5rem;
    border-radius: 10px;
    transition: all 0.4s;
}

@media (min-width: 768px) {
    .header__burger-button {
        display: none;
    }
    
    .header__list-items {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.075rem;
    }
    
    .header__list-items a {
        color: var(--theme-button-text-color);
        text-decoration: none;
    }

    .header__theme-button {
        padding: 1rem 1.25rem;
    }

    .header__theme-button {
        color: var(--theme-button-text-color);
        transition: all 0.4s;
    }
}

@media (min-width: 990px) {
    .header__wrapper {
        margin: 0 auto;
        max-width: 1340px;
    }

    .header__theme-button {
        border-radius: 10px;
        transition: all 0.4s;
    }

    .header__list-item a {
        transition: all 0.4s;
    }

    .header__list-item:hover a {
        color: var(--buttons-blue);
    }

    .header__theme-button:hover {
        background-color: var(--buttons-primary);
        color: var(--primary-text-color);
    }
}