/* CSS color variables */
:root {
  --bg-color: #f4f7ff;
  --bg-footer: #162044;
  --theme-button-text-color: #7e8bb6;
  --buttons-primary: #98a6c7;
  --buttons-blue: #0059f7;
  --headings-color: #162044;
  --subheadings-color: #7e8bb6;
  --projects-paragraphs-color: #7e8bb6;
  --skills-paragraphs-color: rgba(7, 14, 39, 0.6);
  --skills-background-hover: #fff;
  --footer-text-color: #ccd2e9;
  --primary-text-color: #ffffff;
  --github-color: #162044;
  --borders: #e2e7fa;
}

[data-theme="dark"] {
  --bg-color: #070e27;
  --buttons-primary: #162044;
  --theme-button-text-color: #ffffff;
  --headings-color: #ffffff;
  --subheadings-color: #ccd2e9;
  --projects-paragraphs-color: #7e8bb6;
  --skills-paragraphs-color: #ccd2e9;
  --skills-background-hover: #081131;
  --github-color: #ffffff;
  --borders: hsla(0, 0%, 100%, 0.1);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: var(--bg-color);
    transition: all 400ms;
    line-height: 1.5;
    font-family: 'Sora', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.btn {
  all: unset;
  cursor: pointer;
  color: var(--primary-text-color);
}

.section--title {
  font-size: 3.5rem;
  color: var(--headings-color);
  transition: all 0.4s;
}

.section--subtitle {
  font-size: 1.25rem;
  color: var(--subheadings-color);
  font-weight: normal;
  transition: all 0.4s;
}

span.subtitle,
.plan-type {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}