:root {
  --black-pearl: #070e27;
  --big-stone: #162044;
  --plan-background: #081131;
  --buttons-blue: #0059f7;
  --buttons-light-blue: #689eff;
  --grey: #ccd2e9;
  --white: #ffffff;
  --borders: hsla(0, 0%, 100%, 0.1);
  --icon-color: #7e8bb6;
}

.btn {
  all: unset;
  cursor: pointer;
  color: var(--white);
}

.section-title {
  font-size: 3.5rem;
}

.title {
  color: var(--white);
}

.section-subtitle {
  font-size: 1.25rem;
}

.subtitle {
  color: var(--grey);
  font-weight: normal;
}

span.subtitle,
.plan-type {
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 0.25rem;
}